@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Poppins&display=swap');
@import url('upcoming.css');
*{
    font-family: 'Poppins', sans-serif;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}